asgiref
Django
django-widget-tweaks
pytz
sqlparse
# pandas
# numpy
# scikit-learn
# matplotlib
# xgboost
seaborn

pandas>=1.5.3
numpy>=1.23.5
scikit-learn>=1.3.0
matplotlib>=3.7.1
xgboost>=1.7.6
shap>=0.44.1
# tensorflow-cpu

# python -m pip install --upgrade pip setuptools wheel
# python 3.8 to 3.11 is supported
# pip install tensorflow-cpu==2.10
# tensorflow>=2.12.0
